.oszlop {
    padding: 0 !important;

    &-top {
        margin-top: -190px;
    }

    &-1 {
        border-top: none;
    }
}

.clr-round {
    content: '';
    width: 26px;
    height: 26px;
    border: 1px solid white;
    border-radius: 100%;
}

.table {
    overflow: hidden;
    border-radius: 0.25rem 0.25rem 0 0;
}

td:last-child {
    min-width: 100px;
}

