.oszlop {
    padding: 0 !important;

    &-top {
        margin-top: -190px;
    }

    &-1 {
        border-top: none;
    }

    &-2 {
        margin-right: 30px;
    }
}

.clr-round {
    content: '';
    width: 26px;
    height: 26px;
    border: 1px solid white;
    border-radius: 100%;
}

.table {
    overflow: hidden;
    border-radius: 0.25rem 0.25rem 0 0;
}

td:last-child {
    min-width: 100px;
}

.icon-check {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(../img/check-circle.svg);
}

.icon-trash {
    width: 15px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url(../img/trash-alt-solid.svg);
}

.barchart {

    path {
        stroke: #2C3E50;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
}