.oszlop {
    padding: 0 !important;

    &-top {
        margin-top: -190px;
    }

    &-1 {
        &>.card {
            border-top: none;
            margin: 0 0 0 30px;
        }
    }

    &-2 {
        &>.card {
            height: 100%;
            margin: 0 0 0 30px;
        }
    }

    &-3 {
        padding-right: 30px;

        &>.chart {
            min-height: 300px !important;
        }

    }

    &-4 {
        .osszetetel-lista {
            font-size: 12px;

            &-item {
                background-color: $colorGrayLight;
                padding: 12px 0;
                margin: 2px 0;
                >div {}
            }
        }
    }
}

.clr-round {
    content: '';
    width: 26px;
    height: 26px;
    border: 1px solid white;
    border-radius: 100%;
}

.table {
    overflow: hidden;
    border-radius: 0.25rem 0.25rem 0 0;
}

td:last-child {
    min-width: 100px;
}

.icon-check {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(../img/check-circle.svg);
}

.icon-trash {
    width: 15px;
    height: 17px;
    background-repeat: no-repeat;
    background-image: url(../img/trash-alt-solid.svg);
}