$colorGrayLight: #ECF0F1;

$bankKoltseg: #1F4547;
$befektetesek: #3498DB;
$lakasElotak: #F7C068;
$lakas: #B98B46;
$csalad: #EF9288;
$egeszseg: #A36B11;
$szorakozas: #597A1F;
$etkezes: #18BC9C;
$ado: #212529;
$keszpenz: #7EBDE8;
$trade: #E74C3C;
$ajandek: #89DDCC;
$kozlekedes: #628685;
$internet: #0474CA;
$ruhazkodas: #065A91;
$onkepzes: #F39C12;
$onmegvalositas: #910404;