.carousel {
    position: relative;
    width: 100%;
    height: 100%;

    &-inner {
        height: 100%;
    }

    &-item {
        height: 100%;
    }

    &-bg {
        width: 100%;
        height: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-slogen {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: $colorTransBlack;
            color: $colorWhite;
            border: 1px solid $colorPrimaryBlue;
            letter-spacing: 2px;
        }

        &-code {
            background-image: url(../img/carousel/code.jpg);
        }

        &-anim {
            background-image: url(../img/carousel/anim.jpg);
        }

        &-ddd {
            background-image: url(../img/carousel/ddd.jpg);
        }

        &-grafika {
            background-image: url(../img/illu/tfe_illuk/ti3.jpg);
        }

        &-story {
            background-image: url(../img/concept/chris/05.jpg);
        }

        &-artdir {
            background-image: url(../img/carousel/artdir.jpg);
        }
    }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: $colorTransBlack;
    padding: 15px;
    background-size: 15px, 15px;
    border-radius: 100%;
    background-position: center;
}