.content-header {
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2.5rem !important;
}

.code-header {
    background-image: url(../img/carousel/code.jpg);
}

.anim-header {
    background-color: rgb(0, 48, 87);
}

.illu-header {
    background-color: rgb(0, 48, 87);
}

.ddd-header {
    background-color: rgb(0, 48, 87);
}

.vfx-header {
    background-color: rgb(0, 48, 87);
}

.grafika-header {
    background-color: rgb(0, 48, 87);
}

.story-header {
    background-color: rgb(0, 48, 87);
}

.concept-header {
    background-color: rgb(0, 48, 87);
}

.artdir-header {
    background-color: rgb(0, 48, 87);
}