.body-container {
    background-color: $colorBg;
    margin-top: 20vh;
    padding-top: 30px;
}

.card {
    overflow: hidden;
    cursor: pointer;
    position: relative;

    >.prev-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-3 {
            height: 240px;
        }

        &-4 {
            height: 200px;
        }

        &-6 {
            height: 120px;
        }

        &-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px 15px;
            color: $colorWhite;
            background-color: rgba($colorGrey, 0.93);
            margin: 0;
            transform: translateY(100%);
            transition: all 0.3s;
            border-top: 1px solid $colorSecondary;
            letter-spacing: 0.05rem;

            > h5 {
                color: $colorSecondary;
                font-size: 1.35rem;
            }
        }
    }

    &:hover .prev-img-title {
        transform: translateY(0);
    }

    &:hover {
        border-color: $colorSecondary !important;
    }
}



.modal {

    &-dialog {
        max-width: 1234px;

        &-xl {
            max-width: 1954px;
        }

        &-sm {
            max-width: 1040px;
        }
    }


    &-content {
        .modal-body {
            >img {
                width: 100%;
            }
        }
    }

    &-max-height {
        > .modal-content {
            > .modal-body{
                max-height: 75vh;
                display: flex;
                flex-wrap: wrap;
    
                > p {
                    width: 100%;
                }
    
                > img {
                    width: auto;
                    height: 68vh;
                    margin: auto;
                }
            }
        }
    }
}