.content-header, .content-footer {
    position: fixed;
    z-index: -100;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-header{
    top: 55px;
    background-position: top;
}

.content-footer {
    bottom: 0;
    background-position: bottom;
}

.code-header, .code-footer {
    background-image: url(../img/carousel/code.jpg);
}

.anim-header {
    background-image: linear-gradient(to right bottom,
    rgba(0, 38, 49, 0.4), rgba(0, 11, 49, 0.4)),
    url(../img/ddd/itk/i5.jpg);
    background-position: center;
}

.anim-footer {
    background-image: linear-gradient(to right bottom,
    rgba(0, 38, 49, 0.4), rgba(0, 11, 49, 0.4)),
    url(../img/ddd/itk/i6.jpg);
    background-position: center;
}

.ddd-header {
    background-image: url(../img/ddd/mattepaint/d_81.jpg);
    background-position: center;
}

.ddd-footer {
    background-image: url(../img/ddd/mattepaint/d_83.jpg);
    background-position: center;
}


.grafika-header, .grafika-footer {
    background-image: url(../img/illu/Rozsa/r2.jpg);
}

.story-header, .story-footer {
    background-image: url(../img/concept/chris/06.jpg);
}

.artdir-header, .artdir-footer {
    background-image: url(../img/carousel/treOf.jpg);
}
