.index-body {
    height: 100vh;
}

$portreSize-xs: 88px;
$portreSize-sm: 97px;
$portreSize-md: 106px;
$portreSize-lg: 121px;
$portreSize-xl: 133px;

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

.midlerow {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
        height: 144px;

        @media (min-width: 474px) {
            height: 106px;
        }

        @media (min-width: 548px) {
            height: 90px;
        }

        @media (min-width: 576px) {
            height: 0;
        }


        .message {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            display: flex;
            max-width: 100%;

            &-txt {
                letter-spacing: 1px;
                position: relative;
                padding: 10px 20px;
                max-width: calc(100% - #{$portreSize-xs});

                @media (min-width: 576px) {
                    max-width: calc(100% - #{$portreSize-sm});
                }

                @media (min-width: 768px) {
                    max-width: calc(100% - #{$portreSize-md});
                    padding: 12px 25px;
                }

                @media (min-width: 992px) {
                    max-width: calc(100% - #{$portreSize-lg});
                }

                @media (min-width: 1200px) {
                    max-width: calc(100% - #{$portreSize-xl});
                    padding: 15px 30px;
                }

                >p {
                    font-size: 1rem;

                    @media (min-width: 576px) {
                        font-size: 1.06rem;
                    }

                    @media (min-width: 768px) {
                        font-size: 1.12rem;
                    }

                    @media (min-width: 992px) {
                        font-size: 1.19rem;
                    }

                    @media (min-width: 1200px) {
                        font-size: 1.25rem;
                    }
                }

                >h1 {
                    font-size: 2rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    @media (min-width: 576px) {
                        font-size: 2.25rem;
                    }

                    @media (min-width: 768px) {
                        font-size: 2.5rem;
                    }

                    @media (min-width: 992px) {
                        font-size: 2.75rem;
                    }

                    @media (min-width: 1200px) {
                        font-size: 3rem;
                    }
                }

                &::after {
                    width: 2500px;
                    height: 100%;
                    content: '.';
                    color: rgba(0, 0, 0, 0);
                    display: block;
                    background-color: $colorTransBlack;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    border-bottom: 1px solid $colorBlue;
                }
            }

            &-img-wrapper {
                position: relative;
                width: calc(#{$portreSize-xs} + 15px);

                @media (min-width: 576px) {
                    width: calc(#{$portreSize-sm} + 15px);
                }

                @media (min-width: 768px) {
                    width: calc(#{$portreSize-md} + 15px);
                }

                @media (min-width: 992px) {
                    width: calc(#{$portreSize-lg} + 15px);
                }

                @media (min-width: 1200px) {
                    width: calc(#{$portreSize-xl} + 15px);
                }


                .portre {
                    width: $portreSize-xs;
                    height: $portreSize-xs;
                    border-radius: 100%;
                    background-image: url(../img/portre190717.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    right: 15px;
                    top: 15px;

                    @media (min-width: 576px) {
                        width: $portreSize-sm;
                        height: $portreSize-sm;
                    }

                    @media (min-width: 768px) {
                        width: $portreSize-md;
                        height: $portreSize-md;
                    }

                    @media (min-width: 992px) {
                        width: $portreSize-lg;
                        height: $portreSize-lg;
                    }

                    @media (min-width: 1200px) {
                        width: $portreSize-xl;
                        height: $portreSize-xl;
                    }
                }
            }
        }

    }

    #indexCarousel {
        height: calc(100% - 144px);

        @media (min-width: 474px) {
            height: calc(100% - 106px);
        }

        @media (min-width: 548px) {
            height: calc(100% - 90px);
        }

        @media (min-width: 576px) {
            height: 100%;
        }
    }
}



.kapcsolat-box {
    >a {
        margin: 15px 5px;
    }

    >div {
        >span {
            font-size: 0.75rem;
            letter-spacing: 0.05rem;
        }
    }
}

.btn-outline-warning {
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

@media (max-width: 575px) {}