.index-body {
    height: 100vh;
}

.midlerow {
    flex-grow: 1;
    position: relative;
}

.message {
    position: absolute;
    bottom: calc(60% + #{$sizeButtonBoxHeight});
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    &-txt {
        letter-spacing: 1px;

        >p {
            font-size: 1.25rem;
        }

        >h1 {
            font-size: 2.5rem;
        }
    }

    &-img {
        width: 133px;
        height: 133px;
        border-radius: 100%;
        background-color: gold;
        position: absolute;
        right:0;
        bottom: -3rem;
        transform: translateX(100%);
    }
}

.kapcsolat-box {

    height: $sizeButtonBoxHeight;

    >a {
        letter-spacing: 1px;
    }
}