.navbar.bg-dark {
    border-color: $colorBg;
    .nav-item {
        > .nav-link {
            color: $colorPimaryBlue;
        }
    }

    .active {
        > .nav-link {
            color: $colorWhite;
        }
    }
    
}