.navbar.bg-dark {
    border-color: $colorBg;
    .nav-item {
        > .nav-link {
            color: $colorPimaryBlue;
        }
        &:hover .nav-link{
            color: $colorSecondary;
        }
    }

    .active {
        cursor: default;
        > .nav-link {
            color: $colorWhite;
        }
        &:hover .nav-link{
            color: $colorWhite;
        }
    }
    
}