//--- colors
$colorBg:  #060606;
$colorGrey: #282828;
$colorLightGrey: #888;
$colorLightenGray: #dadada;
$colorTransBlack: rgba(0, 7, 22, 0.80);
$colorPrimaryBlue: #2A9FD6;
$colorBlue: rgb(6, 70, 182);
$colorSecondary: #FF8800;
$colorWhite: white;

//--- font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap&subset=latin-ext');

body { padding-top: 55px; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05rem;
}